#log_in{
    border-radius: 80;
}

	.login_div1 , .login_div2
	{
		background: black;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #6d0022;
padding: 10px;
float: none;
text-align: left;
}

.box{
	background-color: black;
	margin-left: 200px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 15px;
	border-radius: 20px;
}
#log_in{
	width: 300px;
}